# Internet archive 'big data' for 'small histories' 
* Outline of project
* reasoning 
* limitations

In [9]:
import numpy as np
from pandas import DataFrame
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
wellcome_data = pd.read_table('wellcome-linkage.tsv', sep='|', names=['year', 'origin-domain', 'linked-domain'])

In [23]:
wellcome_data[:10]

   year               origin-domain                 linked-domain
0  1996      odin.neuro.soton.ac.uk         www.wellcome.ac.uk\t1
1  1996    tarantula.wellcome.ac.uk  tarantula.wellcome.ac.uk\t24
2  1996          www.ability.org.uk     www.tmr.wellcome.ac.uk\t1
3  1996       www.healthindex.co.uk     www.tmr.wellcome.ac.uk\t1
4  1997       atuin.chime.ucl.ac.uk        www.wellcome.ac.uk\t10
5  1997             back.niss.ac.uk         www.wellcome.ac.uk\t1
6  1997  bushmills.mic.dundee.ac.uk         www.wellcome.ac.uk\t2
7  1997            com2.uclan.ac.uk         www.wellcome.ac.uk\t7
8  1997       epidemic.zoo.ox.ac.uk     www.tmr.wellcome.ac.uk\t2
9  1997     garbo.psychol.ucl.ac.uk         www.wellcome.ac.uk\t5

In [33]:
wellcome_data['linked-domain'].str.split('\t', expand=True)

                              0    1
0            www.wellcome.ac.uk    1
1      tarantula.wellcome.ac.uk   24
2        www.tmr.wellcome.ac.uk    1
3        www.tmr.wellcome.ac.uk    1
4            www.wellcome.ac.uk   10
5            www.wellcome.ac.uk    1
6            www.wellcome.ac.uk    2
7            www.wellcome.ac.uk    7
8        www.tmr.wellcome.ac.uk    2
9            www.wellcome.ac.uk    5
10       www.tmr.wellcome.ac.uk    1
11           www.wellcome.ac.uk    1
12       www.tmr.wellcome.ac.uk    2
13           www.wellcome.ac.uk    8
14           www.wellcome.ac.uk    4
15           www.wellcome.ac.uk    2
16           www.wellcome.ac.uk    2
17           www.wellcome.ac.uk    1
18           www.wellcome.ac.uk    1
19           www.wellcome.ac.uk    1
20           www.wellcome.ac.uk    2
21           www.wellcome.ac.uk    3
22           www.wellcome.ac.uk    1
23           www.wellcome.ac.uk    1
24           www.wellcome.ac.uk    2
25     tarantula.wellcome.ac.uk   25
26           www.wellcome.ac.uk    1
27        wisdom.wellcome.ac.uk    2
28           www.wellcome.ac.uk    1
29       www.tmr.wellcome.ac.uk    1
...                         ...  ...
31736    library.wellcome.ac.uk    3
31737    malaria.wellcome.ac.uk    1
31738   medphoto.wellcome.ac.uk    1
31739        www.wellcome.ac.uk   20
31740        www.wellcome.ac.uk    1
31741        www.wellcome.ac.uk    4
31742        www.wellcome.ac.uk    4
31743   medphoto.wellcome.ac.uk    3
31744        www.wellcome.ac.uk    9
31745    library.wellcome.ac.uk    8
31746        www.wellcome.ac.uk  113
31747        www.wellcome.ac.uk    1
31748        www.wellcome.ac.uk    5
31749        www.wellcome.ac.uk    3
31750        www.wellcome.ac.uk    8
31751        www.wellcome.ac.uk   16
31752        www.wellcome.ac.uk    4
31753    library.wellcome.ac.uk    5
31754        www.wellcome.ac.uk    1
31755        www.wellcome.ac.uk    2
31756   medphoto.wellcome.ac.uk    1
31757        www.wellcome.ac.uk    5
31758        www.wellcome.ac.uk    7
31759    library.wellcome.ac.uk    7
31760     secure.wellcome.ac.uk   12
31761        www.wellcome.ac.uk   26
31762        www.wellcome.ac.uk    4
31763        www.wellcome.ac.uk    2
31764        www.wellcome.ac.uk    1
31765        www.wellcome.ac.uk    2

[31766 rows x 2 columns]